<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>App - Hackathon</title>
    <link rel="stylesheet" href="{{ asset('assets/foundation-6/css/foundation.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/font-awesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" />
</head>

<body>

<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li><a href="{{ path('homepage') }}">Challenge hackathon</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li>Salut {{ app.user.username }}</li>
            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
        </ul>
    </div>
</div>

<div class="callout large">
    <div class="row column text-center">
        <h1>Moins tu dors, plus t'es fort</h1>
    </div>
</div>

{% block content %}

{% endblock %}

<hr>
<div class="row column">
    <ul class="menu">
    </ul>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="{{ asset('assets/foundation-6/js/foundation.min.js') }}"></script>
<script>
    $(document).foundation();
</script>

</body>

</html>