{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="row column">
        <div class="medium-2 columns">
            <a href="#"><div class="stat">{{ nbCalorie }}</div><span>Calories Total</span></a>
        </div>
        <div class="medium-10 columns">
            {% if levelPercentage < 10 %}
                <p class="lead">Level 1 / 10 -
                    <em class="message-level">Seulement level 1 ? il serait temps que tu commences à boire ou manger !</em>
                </p>
            {% elseif levelPercentage < 20 %}
                <p class="lead">Level 2 / 10 </p>
            {% elseif levelPercentage < 30 %}
                <p class="lead">Level 3 / 10 </p>
            {% elseif levelPercentage < 40 %}
                <p class="lead">Level 4 / 10 </p>
            {% elseif levelPercentage < 50 %}
                <p class="lead">Level 5 / 10 </p>
            {% elseif levelPercentage < 60 %}
                <p class="lead">Level 6 / 10 </p>
            {% elseif levelPercentage < 70 %}
                <p class="lead">Level 7 / 10 </p>
            {% elseif levelPercentage < 80 %}
                <p class="lead">Level 8 / 10 </p>
            {% elseif levelPercentage < 90 %}
                <p class="lead">Level 9 / 10 </p>
            {% elseif levelPercentage < 100 %}
                <p class="lead">Level 10 / 10 </p>
            {% elseif levelPercentage < 200 %}
                <p class="lead">t'as cru que c'était finit ou quoi ?</p>
            {% elseif levelPercentage >= 200 %}
                <p class="lead">Et non pas de troisième bar !</p>
            {% endif %}
            {% if levelPercentage < 33 %}
                <div class="progress" role="progressbar" tabindex="0" aria-valuenow="{{ levelPercentage }}" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
                    <div class="progress-meter" style="width: {{ levelPercentage }}%"></div>
                </div>
            {% elseif levelPercentage < 66 %}
                <div class="warning progress" role="progressbar" tabindex="0" aria-valuenow="{{ levelPercentage }}" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
                    <div class="progress-meter" style="width: {{ levelPercentage }}%"></div>
                </div>
            {% elseif levelPercentage < 100 %}
                <div class="alert progress" role="progressbar" tabindex="0" aria-valuenow="{{ levelPercentage }}" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
                    <div class="progress-meter" style="width: {{ levelPercentage }}%"></div>
                </div>
            {% elseif levelPercentage < 200 %}
                <div class="alert progress" role="progressbar" tabindex="0" aria-valuenow="100" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
                    <div class="progress-meter" style="width: {{ 100 }}%"></div>
                </div>
                <div class="alert progress" role="progressbar" tabindex="0" aria-valuenow="{{ levelPercentage - 100}}" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
                    <div class="progress-meter" style="width: {{ levelPercentage - 100}}%"></div>
                </div>
            {% elseif levelPercentage >= 200 %}
                <div class="alert progress" role="progressbar" tabindex="0" aria-valuenow="100" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
                    <div class="progress-meter" style="width: 100%"></div>
                </div>
                <div class="alert progress" role="progressbar" tabindex="0" aria-valuenow="100" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
                    <div class="progress-meter" style="width: 100%"></div>
                </div>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="medium-12 columns">
            {% for flash_message in app.session.flashbag.get('notice') %}
                <div class="success callout" data-closable>
                    <p>{{ flash_message }}</p>
                    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
        <div class="medium-4 columns">
            <div class="row">
                <div class="medium-12 columns text-center">
                    <p>Ton état</p>
                </div>
            </div>
            {% if levelPercentage < 10 %}
                <img class="thumbnail" src="{{ asset('assets/img/level-1.jpg') }}">
            {% elseif levelPercentage < 20 %}
                <img class="thumbnail" src="{{ asset('assets/img/level-2.jpg') }}">
            {% elseif levelPercentage < 30 %}
                <img class="thumbnail" src="{{ asset('assets/img/level-3.jpg') }}">
            {% elseif levelPercentage < 40 %}
                <img class="thumbnail" src="{{ asset('assets/img/level-4.jpg') }}">
            {% elseif levelPercentage < 50 %}
                <img class="thumbnail" src="{{ asset('assets/img/level-5.jpg') }}">
            {% elseif levelPercentage < 60 %}
                <img class="thumbnail" src="{{ asset('assets/img/level-6.jpg') }}">
            {% elseif levelPercentage < 70 %}
                <img class="thumbnail" src="{{ asset('assets/img/level-7.jpg') }}">
            {% elseif levelPercentage < 80 %}
                <img class="thumbnail" src="{{ asset('assets/img/level-8.jpg') }}">
            {% elseif levelPercentage < 90 %}
                <img class="thumbnail" src="{{ asset('assets/img/level-9.jpg') }}">
            {% elseif levelPercentage < 100 %}
                <img class="thumbnail" src="{{ asset('assets/img/level-10.jpg') }}">
            {% elseif levelPercentage >= 100 %}
                <img class="thumbnail" src="{{ asset('assets/img/level-10.jpg') }}">
            {% endif %}
            <hr>
            <div class="row">
                <div class="medium-12 columns text-center">
                    <a href="{{ path('classement') }}" class="button">
                        <i class="fa fa-bar-chart"> </i>
                        Classement des plus gros consommateurs
                    </a>
                </div>
            </div>
        </div>
        <div class="medium-8 columns">
            <h3>Mes consos</h3>
            <table>
                <thead>
                <tr>
                    <th width="200">Picto</th>
                    <th>Consos</th>
                    <th width="150">Calories</th>
                    <th>Bu / mangé le :</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>
                            <img class="thumbnail img-conso" src="{{ item.itemType.image }}" alt="Photo of Uranus.">
                        </td>
                        <td>{{ item.itemType.name }}</td>
                        <td>{{ item.itemType.calorie }}</td>
                        <td>{{ item.createdAt | localizeddate('none', 'none', 'fr', null, "EEEE à H:mm") }}</td>
                        <td>
                            <a data-open="{{ 'suppr' ~ item.id }}"><span class="alert badge btn-suppr"><i class="fa fa-trash"></i></span></a>
                        </td>
                    </tr>
                    <div class="reveal" id="{{ 'suppr' ~ item.id }}" data-reveal>
                        <h3>Ptit joueur t'enlèves des calories ?</h3>
                        {{ render(controller('AppBundle:Default:delete', { 'id': item.id })) }}
                        <button class="close-button" data-close aria-label="Close modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                    <tr>
                        <td colspan="5">
                            {{ form_start(form) }}
                            <div class="input-group">
                                {{ form_row(form.itemType) }}
                                <div class="input-group-button">
                                    <input type="submit" value="Ajouter à mes consos" class="button">
                                </div>
                            </div>
                            {{ form_end(form) }}
                            <p>Tu veux ajouter une conso qui n'est pas dans la liste ? <a href="{{ path('conso_add') }}">clique ici</a></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

