{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="row column">
        <div class="medium-2 columns">
            <a href="#"><div class="stat">{{ nbCalorie }}</div><span>Calorie Total</span></a>
        </div>
        <div class="medium-10 columns">
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
                <div class="progress-meter" style="width: 50%"></div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="medium-4 columns">
            <img class="thumbnail" src="http://placehold.it/750x350">
            <hr>
            <div class="row">
                <div class="medium-12 columns text-center">
                    <p class="calorie">Calorie total</p>
                    <p class="calorieNb"></p>
                </div>
            </div>
        </div>
        <div class="medium-8 columns">
            <h3>Mes consos</h3>
            <table>
                <thead>
                <tr>
                    <th width="200">Picto</th>
                    <th>Consos</th>
                    <th width="150">Calorie</th>
                    <th>Bu / manger à :</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td></td>
                        <td>{{ item.itemType.name }}</td>
                        <td>{{ item.itemType.calorie }}</td>
                        <td>{{ item.createdAt | date('d m Y') }}</td>
                        <td>
                            <a data-open="{{ 'suppr' ~ item.id }}"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    <div class="reveal" id="{{ 'suppr' ~ item.id }}" data-reveal>
                        <h3>Ptit joueur t'enlèves des calories ?</h3>
                        {{ render(controller('AppBundle:Default:delete', { 'id': item.id })) }}
                        <button class="close-button" data-close aria-label="Close modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                    <tr>
                        <td colspan="4">
                            {{ form_start(form) }}
                            <div class="input-group">
                                {{ form_row(form.itemType) }}
                                <div class="input-group-button">
                                    <input type="submit" value="Ajouter une conso" class="button">
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
{% endblock %}

