{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="row column">
        <div class="medium-2 columns">
            <a href="#"><div class="stat">{{ nbCalorie }}</div><span>Calorie Total</span></a>
        </div>
        <div class="medium-10 columns">
            {% if levelPercentage < 10 %}
                <p class="lead">Level 1 / 10 - <em class="message-level">Petit joueur, t'as au moins commencé à coder ?</em></p>
            {% elseif levelPercentage < 20 %}
                <p class="lead">Level 2 / 10 - <em class="message-level">Ouai bon fais pas le malin</em></p>
            {% elseif levelPercentage < 30 %}
                <p class="lead">Level 3 / 10 - <em class="message-level">Ouai bon fais pas le malin</em></p>
            {% elseif levelPercentage < 40 %}
                <p class="lead">Level 4 / 10 - <em class="message-level">Ouai bon fais pas le malin</em></p>
            {% elseif levelPercentage < 50 %}
                <p class="lead">Level 5 / 10 - <em class="message-level">Ouai bon fais pas le malin</em></p>
            {% elseif levelPercentage < 60 %}
                <p class="lead">Level 6 / 10 - <em class="message-level">Ouai bon fais pas le malin</em></p>
            {% elseif levelPercentage < 70 %}
                <p class="lead">Level 7 / 10 - <em class="message-level">Ouai bon fais pas le malin</em></p>
            {% elseif levelPercentage < 80 %}
                <p class="lead">Level 8 / 10 - <em class="message-level">Ouai bon fais pas le malin</em></p>
            {% elseif levelPercentage < 90 %}
                <p class="lead">Level 9 / 10 - <em class="message-level">Ouai bon fais pas le malin</em></p>
            {% elseif levelPercentage < 100 %}
                <p class="lead">Level 10 / 10 - <em class="message-level">Ouai bon fais pas le malin</em></p>
            {% elseif levelPercentage >= 100 %}
                <p class="lead">Mec t'es un fouuu !!!</p>
            {% endif %}
            {% if levelPercentage < 33 %}
                <div class="progress" role="progressbar" tabindex="0" aria-valuenow="{{ levelPercentage }}" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
                    <div class="progress-meter" style="width: {{ levelPercentage }}%"></div>
                </div>
            {% elseif levelPercentage < 66 %}
                <div class="warning progress" role="progressbar" tabindex="0" aria-valuenow="{{ levelPercentage }}" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
                    <div class="progress-meter" style="width: {{ levelPercentage }}%"></div>
                </div>
            {% elseif levelPercentage >= 100 %}
                <div class="alert progress" role="progressbar" tabindex="0" aria-valuenow="{{ levelPercentage }}" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
                    <div class="progress-meter" style="width: {{ levelPercentage }}%"></div>
                </div>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="medium-4 columns">
            {% if levelPercentage < 10 %}
                <img class="thumbnail" src="{{ asset('assets/img/level-1.png') }}">
            {% elseif levelPercentage < 20 %}
                <img class="thumbnail" src="http://placehold.it/750x350">
            {% elseif levelPercentage < 30 %}
                <img class="thumbnail" src="http://placehold.it/750x350">
            {% elseif levelPercentage < 40 %}
                <img class="thumbnail" src="http://placehold.it/750x350">
            {% elseif levelPercentage < 50 %}
                <img class="thumbnail" src="http://placehold.it/750x350">
            {% elseif levelPercentage < 60 %}
                <img class="thumbnail" src="http://placehold.it/750x350">
            {% elseif levelPercentage < 70 %}
                <img class="thumbnail" src="http://placehold.it/750x350">
            {% elseif levelPercentage < 80 %}
                <img class="thumbnail" src="http://placehold.it/750x350">
            {% elseif levelPercentage < 90 %}
                <img class="thumbnail" src="http://placehold.it/750x350">
            {% elseif levelPercentage < 100 %}
                <img class="thumbnail" src="http://placehold.it/750x350">
            {% elseif levelPercentage >= 100 %}
                <img class="thumbnail" src="http://placehold.it/750x350">
            {% endif %}
            <hr>
            <div class="row">
                <div class="medium-12 columns text-center">
                    <p class="calorie">Calorie total</p>
                    <p class="calorieNb"></p>
                </div>
            </div>
        </div>
        <div class="medium-8 columns">
            <h3>Mes consos</h3>
            <table>
                <thead>
                <tr>
                    <th width="200">Picto</th>
                    <th>Consos</th>
                    <th width="150">Calorie</th>
                    <th>Bu / manger à :</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>
                            <img class="thumbnail img-conso" src="{{ item.itemType.image }}" alt="Photo of Uranus.">
                        </td>
                        <td>{{ item.itemType.name }}</td>
                        <td>{{ item.itemType.calorie }}</td>
                        <td>{{ item.createdAt | date('d m Y') }}</td>
                        <td>
                            <a data-open="{{ 'suppr' ~ item.id }}"><span class="warning badge btn-suppr"><i class="fa fa-trash"></i></span></a>
                        </td>
                    </tr>
                    <div class="reveal" id="{{ 'suppr' ~ item.id }}" data-reveal>
                        <h3>Ptit joueur t'enlèves des calories ?</h3>
                        {{ render(controller('AppBundle:Default:delete', { 'id': item.id })) }}
                        <button class="close-button" data-close aria-label="Close modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                    <tr>
                        <td colspan="5">
                            {{ form_start(form) }}
                            <div class="input-group">
                                {{ form_row(form.itemType) }}
                                <div class="input-group-button">
                                    <input type="submit" value="Ajouter à mes consos" class="button">
                                </div>
                            </div>
                            {{ form_end(form) }}
                            <p>Tu veux ajouter une conso qui n'est pas dans la liste ? <a href="{{ path('conso_add') }}">clique ici</a></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

