<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>
<link rel="stylesheet" href="{{ asset('assets/foundation-6/css/foundation.min.css') }}" />
<link rel="stylesheet" href="{{ asset('assets/font-awesome/css/font-awesome.min.css') }}" />
<body>

<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li><a href="{{ path('homepage') }}">Challenge hackathon</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="{{ path('fos_user_registration_register') }}">S'enregistrer</a></li>
            <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
        </ul>
    </div>
</div>

<div class="callout large">
    <div class="row column text-center">
        <h1>Moins tu dors, plus t'es fort</h1>
    </div>
</div>
<div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>
</body>
</html>
